@font-face {
    font-family: ChineseLi;
    src: url(ProNW3.otf);
}

.portfolio-carousel-item .title-minimal {
    font-size: 60px;
    height: 38px;
    overflow: hidden;
}

.portfolio-carousel-item .title-minimal strong {
    padding-left: 10px;
}

.imgoverlay:hover .overlaycaption .separator-small span {
    width: 60px;
}

body,
nav#main-nav .nav-inner ul li a,
.overlay-name,
.alttitle{
    font-family: ChineseLi !important;
}