@font-face {
    font-family: ChineseLi;
    src: url(ProNW3.otf);
}

.portfolio-carousel-item .title-minimal {
    font-size: 60px;
    height: 38px;
    overflow: hidden;
}

.portfolio-carousel-item .title-minimal strong {
    padding-left: 10px;
}

.imgoverlay:hover .overlaycaption .separator-small span {
    width: 60px;
}

body,
nav#main-nav .nav-inner ul li a,
.overlay-name,
.alttitle,
.srcaption-bigwhite,
.main-title,
.alttitle,
p,h1,h2,h3,h4,h5,h6,
span,li,ul,ol,strong,
#portfolio-filter a,
.sr-button,
#backtotop{
    font-family: ChineseLi !important;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.srcaption-bigwhite,
.overlay-name{
    text-shadow: 1px 1px 8px rgba(0,0,0,0.2);
}
.skill .tooltip{
    width: 120px;
}
.content-center{
    margin-right: auto !important;
    float: center !important;
    margin-left: auto;
}
#page-title{
    background: white url(files/img/header/3.jpg) center center no-repeat;
    background-size: 100% auto;
}
.text-center{
    text-align: center;
}
.text-white{
    color: #ffffff;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.2);
}
.separator-small.white span{
    background: #ffffff;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2);
}
