@charset "utf-8";

/* ==============================
   Small desktop
   ============================== */

@media only screen and (max-width: 1366px) {



}

@media only screen and (max-width: 1200px) {


}
@media only screen and (max-width: 1199px) {

    .fixdis{
        height: 70%;
    }
    .fixdis > div{
        background-position: center center;
    }


    .modelo-slide-wrap{
        height: initial;
    }

}

/* ==============================
   Tablet landskape
   ============================== */

@media only screen and (max-width: 1024px) {

    .modelo-slide-text-wrap h1{
        font-size: 55px;
    }
    .modelo-slide-text-wrap p{
        font-size: 20px;
    }

    #footer span.pull-right i{
        font-size: 30px;
    }

    .fixdis{
        height: 75%;
    }

}

@media only screen and (max-width: 992px) {

    .modelo-slide-text-wrap h1{
        font-size: 50px;
    }
    .modelo-slide-text-wrap p{
        font-size: 18px;
    }
}


/* ==============================
   Tablet Portrait
   ============================== */

@media only screen and (max-width: 768px) {


    .fixdis,
    .vertical-stack-pic{
        height: 50%;
    }
}
@media only screen and (max-width: 767px) {

    .navbar-collapse{
        background: rgba(255,255,255,0.95);
    }
}


/* ==============================
   Phone
   ============================== */

@media only screen and (max-width: 480px) {
    .modelo-hero-center h1{
        font-size: 34px;
    }
    .modelo-hero-center p{
        font-size: 21px;
        padding-top: 20px;
    }

    .modelo-slide-text-wrap h1{
        font-size: 45px;
    }

    .modelo-slide-text-wrap p{
        font-size: 16px;
    }

    .fixdis, .vertical-stack-pic{
        height: 40%;
    }

    .email-input{
        width: 80%;
    }
    .modelo-slide-text-wrap h1{
        font-size: 33px;
    }
    .modelo-slide-text-wrap p{
        padding-top: 20px;
    }

    #footer a{
        margin: 0 10px;
    }
    .footer-wrap{
        text-align: center  ;
    }
    .footer-social-links{
        display: block;
        position: relative;
        width: 100%;
        padding: 20px;
    }

    .copy-right {
        text-align: center;
    }
}


/* ==============================
   Small Phone
   ============================== */

@media only screen and (max-width: 319px) {

    .vertical-content,
    .vertical-text{
        display: block;
    }
    .vertical-content.modelo-hero {
        display: table;
    }
    .vertical-text.modelo-hero{
        display: table-cell;
    }
  	.nav-social-links{
  		display: none;
  	}
}


/* ==============================
   Max Height 768
   ============================== */

@media only screen and (max-height: 768px) {

}