@charset "utf-8";

/* ==============================
   Small desktop
   ============================== */

@media only screen and (max-width: 1366px) {
	

	
}  

@media only screen and (max-width: 1200px) {
	

}
@media only screen and (max-width: 1199px) {

    .fixdis{
        float: left;
        width: 100%;
        top: 0px;
        position: absolute;
        right: -50%;
    }

}

/* ==============================
   Tablet landskape
   ============================== */

@media only screen and (max-width: 1024px) {

    .modelo-slide-text-wrap h1{
        font-size: 55px;
    }
    .modelo-slide-text-wrap p{
        font-size: 20px;
    }

    .fixdis{
        right: -43%;
    }

    #footer span.pull-right i{
        font-size: 30px;
    }
    .fix1{
        right: -30%;
    }

}
  
@media only screen and (max-width: 992px) {

    .modelo-slide-text-wrap h1{
        font-size: 50px;
    }
    .modelo-slide-text-wrap p{
        font-size: 18px;
    }
    .fixdis{
        right: -37%;
    }
    .fix1{
        right: -25%;
    }
}
  
  
/* ==============================
   Tablet Portrait
   ============================== */
  
@media only screen and (max-width: 768px) {


    .fixdis{
        display: block;
        top: 50%;
        left: 0;
    }
    .full-height{
        height: 50%;
    }

}

@media only screen and (max-width: 767px) {

}


/* ==============================
   Phone
   ============================== */
  
@media only screen and (max-width: 480px) {

    .vertical-content,
    .vertical-text{
        display: block;
    }
    .vertical-content.modelo-hero {
        display: table;
    }
    .vertical-text.modelo-hero{
        display: table-cell;
    }
    .btn-mod.btn-large {
        padding: 8px 15px;
        font-size: 13px;
    }
    .form input[type="text"].input-lg,
    .form input[type="email"].input-lg,
    .form input[type="number"].input-lg,
    .form input[type="url"].input-lg,
    .form input[type="search"].input-lg,
    .form input[type="tel"].input-lg,
    .form input[type="password"].input-lg,
    .form input[type="date"].input-lg,
    .form input[type="color"].input-lg,
    .form select.input-lg{
        height: 38px;
    }
	.hs-line-1 {
        font-size: 20px;
        letter-spacing: 18px;
    }
	.hs-line-2{
		font-size: 28px;
	}
    .hs-line-6 {
        font-size: 15px;
    }
    .hs-line-7 {
        font-size: 28px;
    }
    .hs-line-8 {
        font-size: 12px;
    } 
    .hs-line-9 {
        font-size: 42px;
    } 
    .hs-line-11 {
        font-size: 20px;
        letter-spacing: 0.2em;
    } 
    .hs-line-12 {
        font-size: 32px;
    }
    .hs-line-13 {
        font-size: 30px;
        letter-spacing: 0.1em;
    }
    .hs-line-14{
        font-size: 24px;
        letter-spacing: 0.3em;
    }
   
   .scroll-down {
        bottom: 10px;
		height: 34px;
		line-height: 34px;
    }
    .scroll-down-icon {
        width: 22px;
        margin-left: -11px;
    }	
	.scroll-down span{
		display: none;
	}
	
	.nav-bar-compact{
		top: 0;
		left: 0;
	}
	
	
	.page-section {
        padding: 60px 0 0 0;
    }
    .small-section {
        padding: 30px 0;
    }
	
	.owl-pagination {
        bottom: 10px;
    }	
    
    .owl-prev, .owl-next {
    	display: none;
    }
    .owl-page {
        padding-left: 8px;
        padding-right: 8px;
    }
	
	.section-bot-image {
        margin: 50px 0 -50px;
    }
	
    .section-title,
	.split-section-headings .section-title,
	.wide-heading {
        font-size: 24px;
		letter-spacing: 2px;
    }	
    .section-heading,
	.sub-heading{
        font-size: 15px;
    } 
	.section-text {
        font-size: 15px;
        line-height: 1.7;
    }
	
	.tpl-minimal-tabs > li {
        padding: 0;
    }
    .tpl-minimal-tabs > li > a {
        padding: 6px 10px 5px;
    }
    .tpl-alt-tabs{
        font-size: 12px;
        letter-spacing: 0.1em;
    }
    .tpl-alt-tabs > li{
        width: 120px;
    }
    .alt-tabs-icon{
        font-size: 32px;
    }
	
    .work-container {
        padding: 30px 0;
    }
	.margin-bot{
        margin-bottom: 30px;
    }
	
	.section-text, 
	.text{
		line-height: 1.7;
	}
		
	.count-number{
		font-size: 32px;
	}
	.count-title{
		font-size: 12px;
	}

	
    .works-filter a{
		width: 100%;
        margin-left: 0;
        margin-right: 0;
	}	
	
	.work-item,
    .work-grid-2 .work-item,
	.work-grid-3 .work-item,
    .container .work-grid-3 .work-item,
    .work-grid-5 .work-item {
        width: 100%;
    }	
    
	.work-full-text{
		margin-top: 30px;
	}
	.work-full-title{
		font-size: 20px;
	}
	
	.blog-container {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .blog-item-title{
        font-size: 16px;
    }

	.blog-item-q p{
		font-size: 16px;
	}
	.comment-avatar{
		width: 30px;
		margin-top: 7px;
	}
    
    .comment-item{
        font-size: 13px;
    }
	
	.separ-space{
		display: block;
		height: 10px;
	}
    
    
    .bot-menu-item{
        font-size: 16px;
    }
    
    #map-canvas {
        height: 300px;
    }
    
   .fixed-height-small{
        min-height: 300px;
    }
    .fixed-height-medium{
        min-height: 350px;
    }
    .fixed-height-large{
        min-height: 400px;
    }
    
    .tpl-tabs > li{
        display: block;
        float: none;
        width: 100%;
    }
    .tpl-tabs > li.active a{
        background: #f5f5f5 !important;
    }
}


/* ==============================
   Small Phone
   ============================== */
  
@media only screen and (max-width: 319px) {

    .vertical-content,
    .vertical-text{
        display: block;
    }
    .vertical-content.modelo-hero {
        display: table;
    }
    .vertical-text.modelo-hero{
        display: table-cell;
    }
  	.nav-social-links{
  		display: none;
  	}
}


/* ==============================
   Max Height 768
   ============================== */

@media only screen and (max-height: 768px) {

 
	
}