@charset "utf-8";

/* ==============================
   Small desktop
   ============================== */

@media only screen and (max-width: 1366px) {
    .col-lg-3 {
        width: 28%;
    }
}
@media only screen and (max-width: 1335px) {
    .col-lg-3 {
        width: 30%;
    }
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1199px) {

}


/* ==============================
    Smaller than 1164: mobile View
   ============================== */

@media only screen and (max-width: 1163px) {

    .col-lg-3{
        width: auto;
    }
    .vertical-img{
        width: 90%;
        height: auto;
    }

    .col-lg-3.modelo-slide-wrap {
        height: initial;
    }

    .full-height.picfix {
        height: initial;
    }
    /*.vertical-stack-pic{*/
        /*height: initial;*/
    /*}*/

    .vertical-img.horizontal{
        width: 90%;
        height: auto;
    }
    .vertical-layout-text-wrap {
         padding-top: 20px;
     }
    .modelo-slide-text-center{
        padding-top: 10px;
    }
}


/* ==============================
   Tablet landskape
   ============================== */

@media only screen and (max-width: 1024px) {

    .modelo-slide-text-wrap h1 {
        font-size: 55px;
    }

    .modelo-slide-text-wrap p {
        font-size: 20px;
    }

    #footer span.pull-right i {
        font-size: 30px;
    }

    /*.fixdis {*/
        /*height: 75%;*/
    /*}*/


}

@media only screen and (max-width: 992px) {

    .modelo-slide-text-wrap h1 {
        font-size: 50px;
    }

    .modelo-slide-text-wrap p {
        font-size: 20px;
    }
}

/* ==============================
   Tablet Portrait
   ============================== */

@media only screen and (max-width: 768px) {

    .modelo-hero-center h1{
        font-size: 52px;
    }
    .modelo-hero-center p {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {

    .navbar-collapse {
        background: rgba(255, 255, 255, 0.95);
    }

    #footer {
        padding: 36px 10px;
    }

    #footer a {
        margin: 0 10px;
    }

    .footer-wrap {
        text-align: center;
    }

    .footer-social-links {
        display: block;
        position: relative;
        width: 100%;
        padding: 20px;
    }

    .copy-right {
        text-align: center;
    }
}

/* ==============================
   Phone
   ============================== */

@media only screen and (max-width: 480px) {
    .modelo-hero-center h1 {
        font-size: 34px;
    }

    .modelo-hero-center p {
        font-size: 18px;
        padding-top: 20px;
    }

    .modelo-slide-text-wrap h1 {
        font-size: 45px;
    }

    .modelo-slide-text-wrap p {
        font-size: 12px;
        line-height: inherit;
    }

    /*.fixdis, .vertical-stack-pic {*/
        /*height: 40%;*/
    /*}*/

    .email-input {
        width: 80%;
    }

    .modelo-slide-text-wrap h1 {
        font-size: 33px;
    }

    .modelo-slide-text-wrap p {
        /*padding-top: 20px;*/
    }

    #footer a {
        margin: 0 10px;
    }

    .footer-wrap {
        text-align: center;
    }

    
    .footer-wrap .contact_email,
    .footer-wrap .hire,
    .footer-wrap .modelo-small {
        display: none;
    }

    .footer-social-links {
        display: block;
        position: relative;
        width: 100%;
        padding: 20px;
    }

    .copy-right {
        text-align: center;
    }

    .modeloInputGroup {
        width: 80%;
        margin: 40px auto;
        height: 60px;
        border: 4px #f37551 solid;
        border-radius: 4px;
        padding: 5px 5px;
    }
    .email-input {
        font-size: 15px;
    }

    .input-group-btn img{
        width: 25px;
        height: 25px;
    }
    .modeloInputGroup input{
        padding-top: 8px;
    }
}

@media only screen and (max-width: 375px) {
    .modelo-hero-center h1 {
        font-size: 26px;
    }

    .modelo-slide-text-wrap h1 {
        font-size: 25px;
    }
    #footer{
        padding: 0 10px;
    }
}
/* ==============================
   Small Phone
   ============================== */

@media only screen and (max-width: 319px) {

    .vertical-content,
    .vertical-text {
        display: block;
    }

    .vertical-content.modelo-hero {
        display: table;
    }

    .vertical-text.modelo-hero {
        display: table-cell;
    }

    .nav-social-links {
        display: none;
    }
}

/* ==============================
   Max Height 672
   ============================== */
@media only screen and (max-height: 672px) {
    .col-lg-3.modelo-slide-wrap{
        margin-top: 16%;
    }
}