/* CSS reset */ body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0; padding:0; } html,body {margin:0; padding:0; font-family: helveticaNeue; } table {border-collapse:collapse; border-spacing:0; } fieldset,img {border:0; } input{border:1px solid #b0b0b0; padding:3px 5px 4px; color:#979797; width:190px; } address,caption,cite,code,dfn,th,var {font-style:normal; font-weight:normal; } ol,ul {list-style:none; } caption,th {text-align:left; } h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal; } q:before,q:after {content:''; } abbr,acronym {border:0; } .clr{clear: both; margin: 10px 0 10px 0; height: 20px; }

@font-face {
    font-family: AvenirNextLTProDemi;
    src: url(../fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
    font-family: AvenirNextLTPro;
    src: url(../fonts/AvenirNextLTPro-Regular.otf);
}
::-webkit-scrollbar {
    /*display: none;*/
}

body,html{
    font-family: AvenirNextLTPro;
    height: 100%;
    overflow-x: hidden;
}
.container{
    width: 100%;
}

.navbar-transparent{
    background: transparent;
    border: 0;
}

.navbar.modelo{
    /*height: 35px;*/
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px 0 20px 20px;
    z-index: 99;

    background-color: rgba(142, 142, 142, 0.50);
    
    border-radius: 0;

    -webkit-transition: all 0.36s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.36s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.36s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.36s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.36s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.navbar-brand.modelo{
    /*padding: 0;*/
    margin: 5px 20px 0px 20px;
    width: 148px;
    height: 28px;
    background: url(../img/Modelo_logo_L@2x.png) center center no-repeat;
    background-size: 148px 28px;
}


@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 11px;
        padding-bottom: 9px;
    }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: none;
}

.navbar-nav li{
    font-size: 16px;
    color: #333;
    font-family: AvenirNextLTPro;
}

.btn-modelo{
    font-family: AvenirNextLTProDemi;
    color: #ffffff;
    background: #f37551;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.29);
    margin-left: 12px;
    margin-top: 2px;
}
.btn-modelo:hover,
.btn-modelo:active{
    color: #fff;
    background: #ff7a55;
}

.navbar-nav > li{
    margin: 0 10px;
}

.modelo-full-height{
    height: 100%;
    width: 100%;
    padding: 0;
}

.modelo-welcome{

    box-sizing: border-box;
    background: url(../img/BG@2x.png) center center no-repeat;
    /*background-size: 100% auto;*/
}


.modelo-hero-center{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    /*margin-top: -120px;*/

    /*-webkit-transition: all 0.36s cubic-bezier(0.000, 0.000, 0.580, 1.000);*/
    /*-moz-transition: all 0.36s cubic-bezier(0.000, 0.000, 0.580, 1.000);*/
    /*-o-transition: all 0.36s cubic-bezier(0.000, 0.000, 0.580, 1.000);*/
    /*-ms-transition: all 0.36s cubic-bezier(0.000, 0.000, 0.580, 1.000);*/
    /*transition: all 0.36s cubic-bezier(0.000, 0.000, 0.580, 1.000);*/
}
.modelo-slide-text-center{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

.vertical-center,
.modelo-slide-text-wrap{

    display: table-cell;
    /*height: 100%;*/
    vertical-align: middle;
}
.vertical-padding-wrap{
    padding: 10px 0;
}

.vertical-layout-text-wrap{
    /*padding-top: 60px;*/
    padding: 0 10%;
}

.modelo-slide-wrap{
    height: 100%;
}
.modelo-hero-center h1{
    font-family: AvenirNextLTProDemi;
    font-size: 64px;
    color: #f37551;
}
.modelo-hero-center p{
    font-size: 28px;
    color: #f37551;
}
.modelo-vertical-container{
    height: 100%;
}
.modelo-slide-1{
    background: #58aa95;
}
.modelo-slide-2{
    background: #f8f8f8;
}
.modelo-slide-3{
    background: #2f83dd;
}
.modelo-slide-4{
    background: #f37551;
}

.modelo-slide-text-wrap h1{
    font-family: AvenirNextLTProDemi;
    font-size: 64px;
    font-size: 48px;
    color: #ffffff;
}
.modelo-slide-text-wrap p{
    font-family: AvenirNextLTPro;
    font-size: 19px;
    line-height: 31px;
    color: #ffffff;
    margin-top: 18px;
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
}
.modelo-slide-text-wrap.black-text h1,
.modelo-slide-text-wrap.black-text p{
    color: #333333;
}
.full-height{
    height: 100%;
}
.pic-slide-1{
    background: url(../img/3dcomment.gif) no-repeat;
    height: 100%;
    background-size: auto 100% ;
}
.pic-slide-2{
    background: url(../img/shareview.gif) center center no-repeat;
    height: 100%;
    width: 100%;
    background-size: auto 100%;
}
.pic-slide-3{
    background: url(../img/path.gif) no-repeat;
    height: 100%;
    background-size: auto 100% ;
}
.pic-slide-4{
    background: url(../img/embed.gif) center center no-repeat;
    height: 100%;
    width: 100%;
    background-size: auto 100%;
}
.no-padding{
    padding: 0;
}
.vertical-stack-text{
    height: 25%;
    padding-top: 5%;
    padding-bottom: 1%;
}
/*.vertical-stack-pic{*/
    /*height: 75%;*/
/*}*/

#signUp{
    height: 75%;
    text-align: center;
}

.email-sign{
    width: 100%;
    text-align: center;
    display: block;
}

.email-sign h1{
    font-family: AvenirNextLTProDemi;
    font-size: 44px;
    color: #333;
}
.email-sign p{
    font-size: 18px;
    color: #333;
}

/*change the corlor of the placeholder*/
::-webkit-input-placeholder { /* WebKit browsers */
    color: #d1d1d1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #d1d1d1;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #d1d1d1;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #d1d1d1;
}

.modelo-footer{
    height: 25%;
    background: #f8f8f8;
}

#footer{
    padding: 90px 10px;
}

#footer a{
    font-family: AvenirNextLTProDemi;
    font-size: 18px;
    color: #333;
    margin: 0 20px;
    vertical-align: text-bottom;
}
#footer a:hover{
    color: #aaa;
}

.modelo-small{
    display: inline-block;
    /*padding: 0;*/
    margin: 2px 20px 2px 0px;
    width: 112px;
    height: 20px;
    background: url(../img/Modelo_logo_L@2x.png) center center no-repeat;
    background-size: 112px 20px;
}

#footer span.pull-right i{
    /*margin: 0 20px;*/
    font-size: 38px;
}

.copy-right{
    font-size: 14px;
    color: #9f9f9f;
    margin-top: 10px;
}

.vertical-content{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}
.vertical-text{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

nav.modelo .container{
    max-width: 1164px;
    margin: 0 auto;
}

.modelo-footer .footer-wrap{
    max-width: 1164px;
    margin: 0 auto;
}

.modelo-vertical-container{
    margin: 0 auto;
    max-width: 1164px;
    overflow: visible;
    padding: 80px 0px 0 0;
}

.vertical-stack-pic{
    /*height: 75%;*/
}


.vertical-img{
    width: 90%;
    /*height: 20%;*/
}

.vertical-img.horizontal{
    height: 90%;
    width: auto;
}

.col-lg-3{
    width: 35%;
}
.navbar-toggle{
    margin-top: 2px;
}

.email-input{
    font-family: AvenirNextLTProDemi;
    width: 100%;
    font-size: 24px;
    color: #333
}
.modeloInputGroup{
    width: 50%;    margin: 50px auto;

    height: 85px;
    border: 4px #f37551 solid;
    border-radius: 4px;
    padding: 20px 10px 20px 30px;
}

.modeloInputGroup input,
.modeloInputGroup button,
.modeloInputGroup input:focus,
.modeloInputGroup button:focus,
.modeloInputGroup button:active{
    border: none;
    vertical-align: text-top;
    outline: none !important;
}
.modeloInputGroup button{
    cursor: pointer;
    padding: 0 10px 0;
}
