@font-face {
    font-family: AvenirNextLTProDemi;
    src: url(../fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
    font-family: AvenirNextLTPro;
    src: url(../fonts/AvenirNextLTPro-Regular.otf);
}
body,html{
    font-family: AvenirNextLTPro;
    height: 100%;
}
.container{
    width: 100%;
}

.navbar-transparent{
    background: transparent;
    border: 0;
}

.navbar.modelo{
    margin-top: 60px;
    height: 35px;
}

.navbar-brand.modelo{
    /*padding: 0;*/
    margin: 2px 20px;
    width: 185px;
    height: 35px;
    background: url(../img/Modelo_logo_L@2x.png) center center no-repeat;
    background-size: 185px 35px;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: none;
}

.navbar-nav li{
    font-size: 16px;
    color: #333;
    font-family: AvenirNextLTPro;
}

.btn-modelo{
    font-family: AvenirNextLTProDemi;
    color: #ffffff;
    background: #f37551;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.29);
}
.btn-modelo:hover,
.btn-modelo:active{
    color: #fff;
    background: #ff7a55;
}

.navbar-nav > li{
    margin: 0 10px;
}

.modelo-full-height{
    height: 100%;
    width: 100%;
}

.modelo-welcome{

    box-sizing: border-box;
    background: url(../img/BG@2x.jpg) center center no-repeat;
    /*background-size: 100% auto;*/
}

.modelo-hero-center{
    text-align: center;
    /*margin-top: -130px;*/
    height: 100%;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.modelo-hero-center h1{
    font-family: AvenirNextLTProDemi;
    font-size: 64px;
    color: #f37551;
}
.modelo-hero-center p{
    font-size: 28px;
    color: #f37551;
}
.vertical-center{
    position: relative;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.modelo-vertical-container{
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.modelo-slide-1{
    background: #58aa95;
}
.modelo-slide-2{
    background: #f8f8f8;
}
.modelo-slide-3{
    background: #2f83dd;
}
.modelo-slide-4{
    background: #f37551;
}

.modelo-slide-text-wrap h1{
    font-family: AvenirNextLTProDemi;
    font-size: 64px;
    color: #ffffff;
}
.modelo-slide-text-wrap p{
    font-family: AvenirNextLTPro;
    font-size: 24px;
    color: #ffffff;
}
.modelo-slide-text-wrap.black-text h1,
.modelo-slide-text-wrap.black-text p{
    color: #000000;
}
.full-height{
    height: 100%;
}
.pic-slide-1{
    background: url(../img/3dcomment.gif) no-repeat;
    height: 100%;
    background-size: auto 100% ;
}
.pic-slide-2{
    background: url(../img/shareview.gif) center center no-repeat;
    height: 100%;
    width: 100%;
    background-size: auto 100%;
}
.pic-slide-3{
    background: url(../img/path.gif) no-repeat;
    height: 100%;
    background-size: auto 100% ;
}
.pic-slide-4{
    background: url(../img/embed.gif) center center no-repeat;
    height: 100%;
    width: 100%;
    background-size: auto 100%;
}
.no-padding{
    padding: 0;
}
.vertical-stack-text{
    height: 25%;
    padding-top: 5%;
    padding-bottom: 1%;
}
.vertical-stack-pic{
    height: 75%;
}

#signUp{
    height: 535px;
    text-align: center;
}

.email-sign{
    margin-top: 150px;
}

.email-sign h1{
    font-family: AvenirNextLTProDemi;
    font-size: 44px;
    color: #333;
}
.email-sign p{
    font-size: 18px;
    color: #333;
}
.email-input{
    font-family: AvenirNextLTProDemi;
    margin: 50px auto;
    width: 726px;
    height: 100px;
    border: 4px #f37551 solid;
    border-radius: 4px;
    padding: 30px 50px;
    font-size: 24px;
    color: #fff;
}

.modelo-footer{
    height: 232px;
    background: #f8f8f8;
}

#footer{
    padding: 90px 10px;
}

#footer a{
    font-family: AvenirNextLTProDemi;
    font-size: 18px;
    color: #333;
    margin: 0 20px;
    vertical-align: text-bottom;
}
#footer a:hover{
    color: #aaa;
}

.modelo-small{
    display: inline-block;
    /*padding: 0;*/
    margin: 2px 20px 2px 0px;
    width: 112px;
    height: 20px;
    background: url(../img/Modelo_logo_L@2x.png) center center no-repeat;
    background-size: 112px 20px;
}

#footer span.pull-right i{
    /*margin: 0 20px;*/
    font-size: 38px;
}

.copy-right{
    font-size: 14px;
    color: #9f9f9f;
    margin-top: 10px;
}